<html>
<body>
<h1>Produtos</h1>
<table>
    <tr>
        <th>Id</th>
        <th>SKU</th>
        <th>Title</th>
        <th>Price</th>
        <th></th>
        <!--<th></th>-->
    </tr>
    <% for (i in page.products) {
    	let product = page.products[i]; %>
    <tr>
        <td><%= product.id %></td>
        <td><%= product.sku %></td>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><a href="/products/form?id=<%=product.id%>">Edit</a></td>
        <!--<td>
            <form action="/products" method="DELETE">
                <input type="hidden" name="id" value="<%=product.id%>">
                <button type="submit">Delete</button>
            </form>
        </td>-->
    </tr>
    <% } %>
</table>
</body>
</html>