<html>
<body>
<h1>Produtos</h1>
<table>
    <tr>
        <th>Id</th>
        <th>SKU</th>
        <th>Title</th>
        <th>Price</th>
        <th></th>
        <th></th>
    </tr>
    <% for (i in products) {
    	let product = products[i]; %>
    <tr>
        <td><%= product.id %></td>
        <td><%= product.sku %></td>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><a href="/products/form?id=<%=product.id%>">Edit</a></td>
        <td><a href="/products/delete?id=<%=product.id%>">Delete</a></td>
    </tr>
    <% } %>
</table>
</body>
</html>